<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <h1>Thêm sản phẩm</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="name">Tên sản phẩm:</label>
            <input type="name" name="name" required>
            </select>
            <label for="kind">Loại sản phẩm:</label>
            <select name="kind" required>
                <option value="casual">Thông thường</option>
                <option value="formal">Trang trọng</option>
            </select>

            <label for="typeClothes">Loại sản phẩm</label>
            <select name="typeClothes" required>
            <option value="quần">Quần</option>
                <option value="giày">Giày</option>
                <option value="áo">Áo</option>
            </select>

            <label for="price">Giá:</label>
            <input type="number" name="price" step="0.01" required>

            <label for="onSale">Sale:</label>
            <input type="checkbox" name="onSale">

            <label for="onSalePrice">Giảm giá:</label>
            <input type="number" name="onSalePrice" step="0.01" required>

            <label for="file">Ảnh:</label>
            <input type="file" name="file" accept="image/*" required>

            <button type="submit">Thêm sản phẩm</button>
            
            <a href="/" class="navbar-brand d-flex align-items-center" style="color: black;">Quay lại trang chủ</a>
        </form>
    </div>
</body>
</html>
